%img{:height => "87", :longdesc => "http://www.edisonnation/vn", :src => "image/header.gif", :width => "1122"}/

%table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "1122"}
  %tr
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "120"} Dashboard
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "69"} Insider
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "201"} Tiểu sử của chúng tôi
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "84"} Tìm Kiếm
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "152"} Gương Thành Công
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "113"} Diễn Đàn
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "81"} Blog
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "61"} Video
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "170"} Cá Nhân &amp; Hội Đoàn
    %td{:align => "center", :bgcolor => "#B5D1FA",:width => "100"} Mua Hàng
  