%h1 Hello
%h1 chao mung cac ban
%h2 Tran trong moi ban tham gia cac chuong trinh thi dua tim kiem nhan tai phat minh the ky
.cuoc thay doi nay co the lam ban vui khoe
#content
.left.column
  %h2 Welcome to our site!
.right.column
  %h2 Welcome to your site!
