<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
.link {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}
.navigate {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
</style>
</head>

<body>
<img src="../../../public/images/edison-vietnam-header" width="1122" height="87" longdesc="http://www.edisonnation/vn" />
<table width="1122" border="0" bgcolor="#D5D5D5" cellpadding="0" cellspacing="0">
  <tr>
    <td width="120" align="center"><a href="dashboard?locale=vn" class="navigate">Dashboard</a></td>
    <td width="69" align="center"><a href="insider?locale=vn" class="navigate">Insider</a></td>
    <td width="201" align="center"><a href="about?locale=vn" class="navigate">Tiểu sử của chúng tôi</a></td>
    <td width="84" align="center"><a href="searches?locale=vn" class="navigate">Tìm Kiếm</a></td>
    <td width="152" align="center"><a href="sucess-stories?locale=vn" class="navigate">Gương Thành Công</a></td>
    <td width="113" align="center"><a href="forums?locale=vn" class="navigate">Diễn Đàn</a></td>
    <td width="81" align="center"><a href="http://vn_blog.edisonnation.com" class="navigate">Blog</a></td>
    <td width="61" align="center"><a href="video?locales=vn" class="navigate">Videos</a></td>
    <td width="61" align="center"><a href="people_and_groups?locale=vn" class="navigate">Cá Nhân &amp; Hội Đoàn</a></td>
    <td width="58" align="center"><a href="shop?locale=vn" class="navigate">Mua Hàng</a></td>
  </tr>
  <tr>
    <td align="center"><img src="image/10pixel.gif" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="130" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="130" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td><img src="image/10pixel.gif" alt="" width="150" height="5" /></td>
    <td><img src="image/10pixel.gif" alt="" width="100" height="5" /></td>
  </tr>
</table>
</body>
</html>
