<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="1000" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="120" align="center">Dashboard</td>
    <td width="69" align="center">Insider</td>
    <td width="201" align="center">Tiểu sử của chúng tôi</td>
    <td width="84" align="center">Tìm Kiếm</td>
    <td width="152" align="center">Gương Thành Công</td>
    <td width="113" align="center">Diễn Đàn </td>
    <td width="81" align="center">Blog</td>
    <td width="61" align="center">Video</td>
    <td width="61" align="center">Cá Nhân &amp; Hội Đoàn</td>
    <td width="58" align="center">Mua Hàng</td>
  </tr>
  <tr>
    <td align="center"><img src="image/10pixel.gif" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="130" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="130" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td align="center"><img src="image/10pixel.gif" alt="" width="80" height="5" /></td>
    <td><img src="image/10pixel.gif" alt="" width="150" height="5" /></td>
    <td><img src="image/10pixel.gif" alt="" width="100" height="5" /></td>
  </tr>
</table>
</body>
</html>
